.view h1 {
    font-size: 3rem;
}

.view h2 {
    font-size: 2.25rem;
}

.view h3 {
    font-size: 1.75rem;
}

.view h4,
.view h5,
.view h6 {
    font-size: 1.125rem;
}

.view h1,
.view h2,
.view h3,
.view h4,
.view h5,
.view h6 {
    margin: 1em 0 0.2em 0 !important;
    padding-bottom: 0.2rem;
}


.view h1:before,
.view h2:before,
.view h3:before,
.view h4:before,
.view h5:before,
.view h6:before {
    content: "";
}
